<div class="main center">
    <h2> Together We Grow ~</h2>
    <div class="window">
        <div class="child">
            <div class="img"></div>
            <p class="heading">Namit</p>
            <p class="subheading">Founder</p>
        </div>
        <div class="child">
            <div class="img"></div>
            <p class="heading">Namit</p>
            <p class="subheading">Founder</p>
        </div>
        <div class="child">
            <div class="img"></div>
            <p class="heading">Namit</p>
            <p class="subheading">Founder</p>
        </div>
        <div class="child">
            <div class="img"></div>
            <p class="heading">Namit</p>
            <p class="subheading">Founder</p>
        </div>
        <div class="child">
            <div class="img"></div>
            <p class="heading">Namit</p>
            <p class="subheading">Founder</p>
        </div>
        <div class="child">
            <div class="img"></div>
            <p class="heading">Namit</p>
            <p class="subheading">Founder</p>
        </div>
        <div class="child">
            <div class="img"></div>
            <p class="heading">Namit</p>
            <p class="subheading">Founder</p>
        </div>
        <div class="child">
            <div class="img"></div>
            <p class="heading">Namit</p>
            <p class="subheading">Founder</p>
        </div>
        <div class="child">
            <div class="img"></div>
            <p class="heading">Namit</p>
            <p class="subheading">Founder</p>
        </div>
        <div class="child">
            <div class="img"></div>
            <p class="heading">Namit</p>
            <p class="subheading">Founder</p>
        </div>
    </div>
</div>