<div>
<hr />
<div class="main">
    <div class="child">
        <div></div>
        <div>
            <h5>Community</h5>
            <p>Work On Entrepreneurial Mindset, Problem Statement/Opportunity Gap, Solutions, POC</p>
        </div>
    </div>

    <div class="child">
        <div></div>
        <div>
            <h5>Community</h5>
            <p>Work On Entrepreneurial Mindset, Problem Statement/Opportunity Gap, Solutions, POC</p>
        </div>
    </div>

    <div class="child">
        <div></div>
        <div>
            <h5>Community</h5>
            <p>Work On Entrepreneurial Mindset, Problem Statement/Opportunity Gap, Solutions, POC</p>
        </div>
    </div>

</div>
<hr />
</div>


