<div  class="center">
    <div class="mainheading">
    Growth Partner  for <br/>Emerging Companies
   
</div> 
<div class="subheading">
        DravyBrands <span id="hi"></span>
    </div>

    <div class="buttons">
        <button>Apply Now</button>
        <button class="colored">Learn More</button>
    </div>

    <div class="content">
        DravyBrands is a company that specializes in acquiring startups and established brands, with the goal of growing them into successful, profitable businesses.
    </div>
</div>
